// Primary Break Points
$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 820px;
$bp-large: 979px;
$bp-xlarge: 1024px;
$bp-xxlarge: 1140px;

// color
$wanabi-yellow: #FFD400;
$wanabi-light-yellow: #FFD40080;
$wanabi-green: #92D050;
$wanabi-orange: #FFC000;
$wanabi-red: #FF0000;
$wanabi-pink: #FF000080;
