@import 'var';

.clip {
  position: fixed;
  bottom: 49%;

  clip-path: polygon(100% 75%, 0% 100%, 100% 100%);
  background: white;

  width: 100%;
  height: 20rem;
  background-attachment: fixed;

  z-index: -1;
}
