/* You can add global styles to this file, and also import other style files */
@import 'core';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: transparent linear-gradient(90deg, $wanabi-yellow 0%, $wanabi-light-yellow 100%);
  background-repeat: repeat-x;
  background-size: 100% 50%;
  background-attachment: fixed;

  margin: 0;
}

@font-face {
  font-family: 'Ano-bold';
  src: local('Ano-bold'), url(../assets/fonts/ano-bold/ano-bold-regular.otf) format('truetype');
}

@font-face {
  font-family: 'Ano-regular';
  src: local('Ano-regular'), url(../assets/fonts/ano-regular/ano-regular.otf) format('truetype');
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Ano-bold', Arial, Helvetica, sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  font-size: 2.875rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  // 32px
  font-size: 2rem;
}

h4 {
  // 24px
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

h5,
div,
p,
span {
  font-family: 'Ano-regular', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
}

.muted {
  color: $wanabi-grey;
}
